{% extends 'base.html.twig' %}

{% block title %}Listado de tipo de envios
{% endblock %}

{% block body %}
	<h1>Tipo de envios</h1>
	<div class="count m-2">
		<span class="bg-info rounded">Numero de registros:{{ pagination.getTotalItemCount }}</span>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Empresa de transporte</th>
					<th scope="col">Precio</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for tipoenvio in pagination %}
					<tr>
						<td>{{ tipoenvio.empresaTransporte }}</td>
						<td>{{ tipoenvio.precio }}</td>
						<td>
							<a class="btn btn-dark btn-sm" href="{{ path('tipoenvios_show', {'id': tipoenvio.id}) }}">Ver detalles</a>
							<a class="btn btn-dark btn-sm" href="{{ path('tipoenvios_edit', {'id': tipoenvio.id}) }}">Editar</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">No existe tipo de envios</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navigation row justify-content-center">{{ knp_pagination_render(pagination) }}</div>
	<a class="btn btn btn-outline-success float-left mr-5" href="{{ path('tipoenvios_new') }}">Nuevo tipo de envio</a>
{% endblock %}
